/*
This is where I added flexbox content
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
  }
  
.flex-container > div {
    background-color: red;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.flex-container > div > img {
    width: 300px;
    height: 300px;
}

.mySlides > img {

    width: 100%; 
}

/*
This is where I started adding styling
*/
h1 {
    font-family: cursive;
}

p.fishing {
    font-style: italic;
    text-align: center;   
}

p.honesty {
    
    font-family: cursive;
    text-align: center;
    font-size: x-large;  
}

p.Lakes {

    text-align: left;
    font-size: 25px;
    text-decoration: underline;
}

#main-header {
    text-align: absolute;
    padding: 0%;
    width: 100%;
}

header {
    text-align: center;
    background-color: rgb(233, 187, 128);
}

h1 {
    background-color: darkgreen;
    }

p.content1 {

    background-color: rgb(90, 41, 6);
    font-size: x-large;
    text-align: center;
}

p.content2 {

    background-color: rgb(90, 41, 6);
    font-size: x-large;
    text-align: center;
}

p.content3 {

    background-color: rgb(90, 41, 6);
    font-size: x-large;
    text-align: center;
}

body {
    background-color: antiquewhite;
}

/* CSS for Carousel*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/10 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Added dots/bullets/indicators as a second option to view pictures */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Continue adding styling for bottom of webpage*/

p.Testimonies {
    font-style: italic;
    font-size: xx-large;
    text-decoration: underline;
}

p.honesty {
    
    font-family: cursive;
    text-align: center;
    font-size: x-large;
    background-color:  rgb(233, 187, 128);  
}

h2 {
  text-align: center;
}
p.Data{
  justify-content: center;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: darkgreen;
  
    
  }